.programlarCard{
    margin-top: 12px;
    color: white;
    text-align: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .6);
}

.programlarCard .cardImage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.programlarCard .cardTitle{
    font-size: 32px;
    font-family: "Century Gothic";
    color: #e6ffff;
}

.cardButtonGroup{
    margin-top: 20px;
}

.cardButtonGroup .cardButtons{
    font-size: 24px;
}

input[type="checkbox"]{
    margin-top: 15px;
    width: 25px;
    height: 25px;
    border-radius: 64px;
}

.checkboxLabel{
    margin-top: 15px;
    font-size: 22px;
    margin-right: 10px;
}

.submitButton{
    width: 100%;
    
}